<html>
   <head>
    <meta title="generator" content="content" charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link id="bootstrap-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
    <link id="bootstrap-theme-css" rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css"/>
  </head>
   <body>
     <div class="page-header">
       <h3 id="container-header">Force directed graph: Biggest diffusion graphs</h3>
       <!-- Single button -->
       <div class="btn-group">
         <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
           Select Graph <span class="caret"></span>
         </button>
         <ul class="dropdown-menu" id="graph-dropdown-menu" role="menu">
           <li class="graph-menu-entry"><a href="#" class="graph-menu-entry-text">Graph 0</a></li>
         </ul>
       </div>
     </div>

     <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
   <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
   </body>
</html>
